<h1 style="background-color:SteelBlue;"> Course Information</h1>


Name: <%=@course.name %> <br> </br>
Subject: <%=@course.subject%> <br> </br>
Teacher: <%=@course.teacher%> <br> </br>

<% if @course.student.id == current_student.id %> 
<a href="/courses/<%= @course.id %>/edit"> Edit this course </a> 
<form action="/courses/<%= @course.id %>" method="POST"> 
<input type="hidden" value="DELETE" name="_method">
<input type= "submit" value="Delete"> 
</form> 
<br> </br>
<h5> Click below to add a new class</h5> 
<a href="/courses/new"> Add New </a> 
<h5> Click below to view all courses</h5> 
<a href="/courses/show"> All Classes </a> 
<% end %> 